# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

NODE_ENV='development'
DATABASE_DEV_LOCAL="mysql://username:password@url:port/db_name"
DATABASE_DEV_MA_LOCAL="mysql://username:password@url:port/db_name"
ACCESS_TOKEN_SECRET="qwertyuiopasdfghjklzxcvbnm"
REFRESH_TOKEN_SECRET="qwertyuiopasdfghjklzxcvbnm"
PORTLOC=9696
ZIMBRA_HOST="host.email.email"
ZIMBRA_EMAIL="email@host.email"
ZIMBRA_PASSWORD="password"
S3_ACCESS_KEY="qwertyuiop"
S3_SECRET_KEY="asdfghjkl"
S3_REGION_KEY="afrika"
S3_BUCKET_KEY="rumah"