<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>404 - Not Found</title>
</head>
<body>
    <div class="flex w-screen h-screen bg-slate-900">
        <div class="w-full flex flex-col justify-center items-center text-white">
            <h1 class="text-9xl font-bold">404<span class="text-red-500">.</span></h1>
            <p class="text-3xl font-semibold mb-2 mt-2">Oooooooooops!</p>
            <p class="font-xl text-slate-400 mb-4">The page you are looking for does not exist.</p>
            <a href="/" class="bg-white text-slate-900 font-bold py-3 px-6 rounded-md mt-4">Go Back</a>
    </div>
</body>
</html>