<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>ROOME</title>
  </head>
  <body>
    <div
      class="flex flex-col justify-between items-center bg-slate-900 h-screen"
    >
      <div
        class="flex flex-col justify-center items-center -mb-6 h-screen mx-8 lg:mx-0"
      >
        <p
          class="font-3xl text-center text-slate-100 font-bold text-3xl lg:text-5xl mb-3"
        >
          ROOME<span class="text-red-500">.</span>
        </p>
        <p class="font-xl text-center text-slate-400">
          Find the perfect meeting space for your business needs with our
          easy-to-use booking system.
        </p>
      </div>
      <div class="flex flex-col my-3">
        <p class="text-slate-400 text-center text-sm lg:text-md">
          Made with &hearts; by
          <a
            class="text-slate-300"
            href="https://www.linkedin.com/in/muhammad-izzuddin/"
            target="_blank"
            rel="noopener noreferrer"
            >Zuddin</a
          >
          and
          <a
            class="text-slate-300"
            href="https://chom-bucked.me/"
            target="_blank"
            rel="noopener noreferrer"
            >Yusuf</a
          >
          &middot; Powered by
          <span class="text-slate-300">Metrodata Academy</span>
        </p>
      </div>
    </div>
    <script>
      console.log(`Roome by Metrodata`)
    </script>
  </body>
</html>
